package runners;

import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;
import org.junit.runner.RunWith;


@RunWith(Cucumber.class)
@CucumberOptions(plugin = {"io.qameta.allure.cucumber2jvm.AllureCucumber2Jvm"},
        features = {"src/test/resources/parallel/features/[CUCABLE:FEATURE].feature"},
        glue = {"org.dvsa.testing.framework.stepdefs"}
)

public class [CUCABLE:RUNNER] {
}


